/*This will deal with the layout including */
/*
    Margins
    Padding
    Media Queries
    Spacing
    Grid Layout

    No colors, font styles etc
*/

*{
    margin:0;
    padding:0;
}
body{
    min-height: 100%;
}

header{
    box-sizing: border-box;
    height:6rem;
    min-width: 100%;
    position: relative;
}
h1{
    min-width: 100%;
    height:6rem;
    text-align: center;
}
.formArea{
    width: 90%;
    margin:0 5% 0 5%;
}
fieldset{
    padding:1rem;
}
input{
    margin:.25rem 0 .75rem 0;
}
h2{
    margin-bottom:.5rem;
}
button{
    display: block;
    margin:1.5rem auto 1rem auto;
}
#fake-console{
    height:25rem;
    width: 90%;
    margin:0 5% 0 5%;
}
#fake-console{
    background-color: black;
    border: 1px solid black;
    color:limegreen;
}